/* 全局 */
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
button, p, a, h1, h2, h3, h4, h5, h6, form, ul, li {
  margin: 0;
  padding: 0;
}
a {
  border: 0;
  outline: 0;
  text-decoration: none;
}
ul, li {
  list-style: none;
}
form {
  display: inline;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
#header {
  height: 78px;
  border-top: 8px solid #34495e;
  .logo {
    float: left;
    display: block;
  }
  .title {
    color: #d7dbdd;
    float: left;
    margin-top: 8px;
    line-height: 78px;
  }
  ul {
    overflow: hidden;
    float: right;
    li {
      padding-top: 22px;
      float: left;
    }
    a {
      width: 100px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      display: block;
      margin: 0 20px;
      color: #bdc3c7;
      text-decoration: none;
    }
    a.active, a:hover {
      background: #1abc9c;
      color: #fff;
      border-radius: 3px;
    }
  }
}
#footer {
  height: 40px;
  margin: 20px 0;
  line-height: 40px;
  color: #bdc3c7;
  text-align: center;
  background: #fff;
}

#right-bar {
  width: 240px;
  padding: 15px;
  background: #fff;
  float: right;
  margin-bottom: 20px;
  .author-avatar {
    background: #eee;
    padding: 20px 0;
    a img {
      margin: 0 auto;
      display: block;
    }
  }
  .block-content {
    margin-top: 20px;
    overflow: hidden;
    h3 {
      font-size: 16px;
      color: #34495e;
      margin: 10px 0;
      padding-left: 10px;
      border-left: solid 3px #1abc9c;
    }
    .my-accounts {
      overflow: hidden;
      a {
        float: left;
        display: block;
        border: solid 1px #eee;
        margin: 0 5px;
      }
      a:hover {
        border: solid 1px #1abc9c;
      }
    }
    .catagories {
      ul {
        overflow: hidden;
        li {
          width: 50%;
          float: left;
          height: 30px;
          line-height: 30px;
          border-bottom: 1px solid #eee;
          span {
            float: right;
          }
        }
        span, a {
          color: #7a7a7a;
        }
        a:hover {
          color: #1abc9c;
          text-decoration: underline;
        }
      }
    }
  }
  .tabs {
    overflow: hidden;
    a {
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 30.3333%;
      margin: 0 0.5%;
      background: #ebeef2;
      color: #47525d;
      float: left;
      display: block;
      &:hover {
        background: #1abc9c;
        color: #fff;
      }
      &.active {
        background: #1abc9c;
        color: #fff;
      }
    }
  }
  .tab-contents {
    min-height: 240px;
    ul.latest-articles, ul.latest-comments {
      display: none;
    }
    ul.latest-comments {
      li {
        line-height: 28px;
        color: #444444;
        margin: 5px 0;
      }
    }
    ul.hot-articles, ul.latest-articles {
      li {
        margin: 5px 0;
      }
      a {
        color: #444444;
        height: 28px;
        line-height: 28px;
        display: block;
      }
      a:hover {
        color: #1abc9c;
        text-decoration: underline;
      }
      p.time {
        padding-left: 24px;
        color: #444444;
        background: image-url("time.png") no-repeat 0 0;
      }
    }
  }
}

body.home__index,
body.articles__show,
body.articles__list,
body.articles__index {
  .main-content {
    width: 100%;
    background: #34495e image-url("nav-bg.png") no-repeat center 0;
    overflow: hidden;
    .position-content{
      margin-top: 140px;
      overflow: hidden;
      .left-content {
        width: 700px;
        background: #fff;
        float: left;
        padding: 15px;
        min-height: 749px;
        margin-bottom: 20px;
        .article-list-index {
          li {
            font-size: 14px;
            line-height: 42px;
            border-bottom: 1px dotted #eee;
          }
          li a {
            color: #34495e;
          }
          a:hover {
            color: #1abc9c;
            text-decoration: underline;
          }
          span {
            float: right;
          }
        }
        //文章show页面
        .article {
          padding: 0 20px;
          min-height: 500px;
          .article-title {
            font-size: 20px;
            line-height: 40px;
            color: #34495e;
            text-align: center;
          }
          .article-content {
            color: #666;
            line-height: 28px;
            overflow: hidden;
            word-wrap: break-word;
          }
        }
        //文章index页面
        .article-info {
          height: 20px;
          margin: 10px 0;
          width: 100%;
          span {
            height: 16px;
            padding-left: 20px;
            color: #d6d9dc;
            float: left;
            margin-right: 10px;
            display: block;
            overflow: hidden;
            &.time{
              width: 80px;
              background: image-url("time.png") no-repeat 0 0;
            }
            &.comments{
              width: 20px;
              background: image-url("comments.png") no-repeat 0 0;
            }
            &.sort {
              width: 120px;
              background: image-url("sort.png") no-repeat 0 0;
            }
            &.view-count {
              width: 20px;
              background: image-url("view-counts.png") no-repeat 0 0;
            }
          }
        }
        .articles {
          p {
            margin-top: 10px;
            &.title a {
              color: #34495e;
              font-size: 18px;
              font-weight: bold;
              line-height: 36px;
            }
            &.content {
              color: #666;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
.pagination {
  overflow: hidden;
  text-align: center;
  em.current {
    background: #1abc9c;
    color: #fff!important;
    display: block;
  }
  span.next_page.disabled, span.previous_page.disabled {
    display: none;
  }
  em.current, a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
    margin: 0 3px;
    color: #666;
    border: solid #eee 1px;
    display:inline-block;
    zoom:1;
    *display:inline;
    &:hover {
      background: #1abc9c;
      color: #fff;
    }
    &.next_page, &.previous_page {
      width: 100px;
    }
    &.next_page {
      margin-left: 5px;
    }
     &.previous_page {
       margin-right: 5px;
     }
  }
}